

p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}


.header{
  background-color: #1F2937; 
}

h1{
  color: #E5E7EB;
  justify-content: flex-start;
  padding-left: 120px;
  width: 300px;
  margin-left: 60px;
}

.navigation{
  display: inline-flex;
  gap: 18px;
  color: #E5E7EB;
  justify-content: flex-end;
  padding-right: 120px;
  font-size: 18px;
  cursor: pointer;
  transition: color 1s;
}

.navigation:hover{
  text-decoration: underline;
  color: #3882F6;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 6px;
  vertical-align: top;
}

.logo{
  color: white;
  display: flex;
  padding: 80px;
  justify-content: space-around; 
  vertical-align: top;
}

.home {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 20px;
  margin-left: 30px;
}

.images {
 width: 400px;
 margin-left: 20px;
}


.child {
  width: 500px;
  border: none;
}

/*second section styling below*/

h2{
  font-size: 48px;
  color: #f9faf8;
  font-family: roboto;
  font-weight: extra-bold;
}

.middle {
  background-color: white;
}

.happy {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  text-align: center;
}

.kids {
  display: flex;
  justify-content: center;
  padding-left: 400px;
  padding-right: 400px;
}
img {
  border: 4px solid #3882F6;
  width: 250px;
  border-radius: 8px;
}

.boxes {
  width: 250px;
  margin: 20px;
  align-items: center;
  
}

/* third section stling below*/


.text {
  color: #1F2937;
  width: 200px;
  text-align: center;
}


.below {
  background-color: #E5E7EB;
  color:#1F2937
}

.texts {
  color: #1F2937;
  text-align: center;
  padding: 50px 100px;
  line-height: 40px;
  font-weight: bolder;
}


.fourth {
  background-color: white;
  padding: 70px 130px;
}

.action {
  display: flex;
  justify-content: space-around;
  background-color: #3882F6;
  border-radius: 10px;
  padding: 26px 100px;
}

.call {
  align-items: flex-start;
  width: 800px;
  color: white;
  font-size: 20px;
  
}

.tour {
  align-items: flex-end; 
  padding: 36px 0px;
  margin-right: 0;
  width: 170px;
}

button {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #3882F6;
  color: white;
  border: 2px solid white;
  border-radius: 8px; 
  cursor: pointer;
  transition: opacity 0.25s;
  padding: 8px 26px;
}

button:hover {
  opacity: 0.6;
}


/* footer styling*/


.copyright {
  background-color: #1F2937;
  padding: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
}